@media (max-width:793px)  {
    .titulo-branco {
        font-size: 2rem;
        
            } 
  
#countainer-rosa{

text-align: center;
}

#infos-cadastro {
    font-size: 0.7rem;
    justify-items: center;
    display: grid;
  
}

.credenciais {
text-align: center;
}

}


@media (max-width:857px) {
    .titulo-branco {
        font-size: 2rem;
        text-align: center;
        }
        p{
            height: 50px;
           font-size: 1rem;
        }

        .botao-cadastro {
position: relative;
top: 12px;

        }

}

@media (max-width:428px) {
    .botao-cadastro,.botao-entrar{
        width: 90px;
        height: 50px;
        font-size: 0.6rem;
    }

 .login{
font-size: 1rem;

 }
 .titulo-branco {
    font-size: 1rem;
    text-align: center;
    }
    

 #infos-login {
    display: grid;
    margin-left: 20px;
    }

}

@media (max-width:730px) {

#infos-login {
margin-left: 10px;

}
}
@media (max-height:366px) {
#background {
height: 100%;

}


}

@media (max-width:336px) {
  
    #infos-login {
        margin-left: 0px;
        
        }

}


@media (max-width:344px) {
  
    #infos-login {
        margin-left: 0px;
        
        }

}