@media (max-width:960px) {
    .titulo-categoria {
        font-size: 1.5rem;

    }

}

@media (max-width:830px) {
    .categoria {
        margin-left: 10px;
        z-index: 1;
        position: relative;

    }


    .logo {
        position: relative;
        height: 60px;

        z-index: 1;
    }


}


@media (max-width:730px) {

    header {

        display: grid;
        grid-template-columns: 80px 1fr 1fr 1fr;
        justify-items: start;
        align-items: center;
    }


    h4 {
        font-size: 1.5rem;

    }

    .bandeiras {
        height: 30px;

    }

    .opçoes-pagamento li,
    .opçoes-contato li,
    .opçoes-contato li a {
        font-size: 1.2rem;

    }

    .opçoes-itens {
        display: none;

    }

    .logo {
        position: relative;
        top: 10px;
        right: 80px;
        grid-column: 2;
        margin-left: 40px;
        grid-row: 1;
    }

    .svg-menu {
        display: block;
        margin-bottom: 50px;
        margin-left: 10px;
        color: #000;
        position: fixed;
        top: 15px;
    }

    .svg-menu:hover {
        cursor: pointer;

    }


    .opçoes-menu-hamurguer.ativo {
        background-color: #f9a3a9;
        display: flex;
        width: 120px;
        height: 170px;
        z-index: 200;
        position: relative;
        border-radius: 4px;
        border: 1px solid rgb(66, 66, 66);
        color: #ad001dd8;
        left: 1px;
        top: -10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .opçoes-menu-hamurguer li::after {
        content: "";
        display: block;
        height: 1px;
        width: 0%;
        background-color: black;
        position: relative;

    }

    .opçoes-menu-hamurguer li:hover::after {
        content: "";
        display: block;
        height: 2px;
        width: 75%;
        background-color: #8a0219d8;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
    }

    .opçoes-menu-hamurguer:hover {
        cursor: pointer;

    }


    .log-cadastro {
        grid-column: 4;
        grid-row: 1;
        flex-wrap: wrap;
        width: 200px;
        position: relative;
        left: 40px;
    }

    .opçoes-menu-hamurguer li {
        padding: 10px;

    }

    .mobile {
        display: grid;
        grid-template-rows: 50px 1fr;
        margin-top: 50px;

        margin-left: 10px;
        border-radius: 4px;
    }
}


@media (max-width:630px) {
    .conteiner {
        grid-template-columns: 120px 1fr;

    }

    footer {
        gap: 20px;

    }

}

@media (max-width:614px) {
    .produtos {
        justify-content: center;

    }

    .opçoes-pagamento li,
    .opçoes-contato li,
    .opçoes-contato li a {
        font-size: 1rem;

    }

    h4 {
        font-size: 1.2rem;

    }
}